/*
Style Name: Industry Night Site
Description: Styling layouts and components
Authors: Hansini Chetan Dhameliya [ Harlowe ], Chanya Chumdee 
Version: 1.0
Tags: Let's styling!!!
*/

/* ___________________________________________

       CSS Guide
___________________________________________ */

/*  01.Reset
    02.Utility classes
    03.Mobile Menu
    04.Desktop Menu
    05.Video Styling

/* ------------- Reset -------------*/

/* button {
    background: none;
    border: none;
    font-family: inherit;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
} */

a {
   text-decoration: none;
}

/* ------------- Utility classes -------------*/

.hidden {
    display: none;
}
.cursorPointer {
    cursor: pointer;
}

/* ------------- Mobile Menu -------------*/
header {
    background-color: #c70000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    font-size: 20px;
    color: #c70000;
}

.fanshaweNavLogo {
    width: 200px;
}

.mobileIcon {
    width: 40px;
}

@media screen and (min-width: 48em) {
.mobileIcon {
    display: none;
}
}
                                           
#mobileMenu {
    background-color: #c70000;
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 50vh;
    z-index: 100;  

    /* Animated mobile menu */
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

/* Display mobile menu */
#mobileMenu.open {
    transform: translateY(0);
}

#mobileMenu ul {
  list-style: none;
}

#mobileMenu li {
  margin: 30px;
}

#mobileMenu a {
  color: white;
}

/* ------------- Desktop Menu -------------*/

#desktopMenu {
    display: none;
}

@media screen and (min-width: 64em) {
#desktopMenu {
    display: block;
}
}

#desktopMenu ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;    
}

#desktopMenu a {
  color: white;
}

/* ------------- Video Styling -------------*/

.videoWrapper {
    height: auto;
}

.plyr {
    border-radius: 20px;
} 

:root {
  --plyr-color-main: #c70000;
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0), rgba(158, 0, 0, 0.75));
  --plyr-control-icon-size: 20px;
  --plyr-control-radius: 20px;
  --plyr-font-family: Helvetica, Arial, Sans-serif;
}